:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background: #ebf2f5;
}

body, input, button, textarea {
    font: 600 1.8rem Nunito, sans-serif;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%
    }
}